.bigbox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 85%;
    background-color: #150000FF;
}

@media(min-width: 1420px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        height: 78px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        width: 337px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 5px;
        background-color: #008FFF00;
    }

    .id {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        margin-left: 20px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 550px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}

@media(min-width: 1270px) and (max-width: 1420px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        height: 78px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        width: 337px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 5px;
        background-color: #008FFF00;
    }

    .id {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        margin-left: 20px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 450px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}

@media(min-width: 1050px) and (max-width: 1270px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        height: 78px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        width: 337px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 5px;
        background-color: #008FFF00;
    }

    .id {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        margin-left: 20px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 300px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}

@media(min-width: 850px) and (max-width: 1050px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        height: 78px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        width: 337px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
        margin-left: 0px;
        background-color: #008FFF00;
    }

    .show-photo {
        width: 0px;
    }

    .id {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 300px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}

@media(min-width: 480px) and (max-width: 850px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        height: 78px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        width: 337px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
        margin-left: 0px;
        background-color: #008FFF00;
    }

    .show-photo {
        width: 0px;
    }

    .id {
        display: block;
        vertical-align: top;
        width: 220px;
        margin-left: 5px;
        margin-top: -15px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: block;
        vertical-align: top;
        margin-left: 5px;
        width: 230px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
        margin-left: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}

@media(min-width: 0px) and (max-width: 480px) {
    /*General items*/
    .container {
        background-color: #80808000;
    }

    /*Header Styling*/
    .header-bar {
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        width: 90%;
        border-bottom: 1px solid #FFF8F8FF;
    }

    .center-text {
        background-color: #FF00FF00;
        margin-left: auto;
        margin-right: auto;
        margin-top: -26px;
        margin-bottom: -30px;
        width: 200px;
    }

    .body-container {
        margin-top: 30px;
    }
    /*List Item Styling*/
    .listitem {
        background-color: #FF00FF00;
        margin-top: 15px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1px;
        border-left: 1px solid #DD1616FF;
        border-right: 1px solid #DD1616FF;
    }

    .photo {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px;
        margin-left: 0px;
        background-color: #008FFF00;
    }

    .show-photo {
        width: 0px;
    }

    .id {
        display: block;
        vertical-align: top;
        width: 220px;
        margin-left: 5px;
        margin-top: -15px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008FFF00;
    }

    .desc {
        display: block;
        vertical-align: top;
        margin-left: 5px;
        width: 230px;
        background-color: #008FFF00;
    }

    /*Fonts and text styles*/
    .wsbf-font-1 {
        color: #FFF8F8FF;
        font-family: Courier New;
    }

    .pagehead-font {
        font-size: 40px;
        font-weight: bold;
    }

    .secthead-font {
        font-size: 25px;
        font-weight: bold;
    }

    .name-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    .date-text {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .loc-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .desc-text {
        margin-top: 5px;
        margin-left: 5px;
    }

    em {
        color: #DD1616FF;
        font-style: normal;
        font-weight: bold;
    }
}
