@{
    ViewData["Title"] = "Music";
    Layout = "_MusicLayout";
}

<head>
    <link rel="stylesheet" href="~/MusicStyle/Recording.css" />
</head>

<body>
    <div class="bigbox" id="bigbigbox">

		<div class="container header-bar" id="Recording-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="Recording-HeadText">RECORDING</p>
			</div>
		</div>

		<div class="container bodyinfo" id="Recording-Body">

			<div class="container block-sect" id="Recording-Desc">
				<div class="container body-header" id="Recording-Desc-Header">
					<p class="wsbf-font-1 secthead-font">Services and Rates</p>
				</div>

				<div class="container body-text" id="Desc-BodyText">

					<div class="container body-sect" id="Desc-BodySect1">
						<p class="wsbf-font-1 bodyfont">The WSBF Studio can provide recording services for speakers, voice actors, PSAs and underwriting, artists, musical groups, and more.</p>
					</div>

					<div class="container body-sect" id="Desc-BodySect2">
						<p class="wsbf-font-1 bodyfont">The recording rates listed are a guideline to gauge the general cost to record, mix, and master, and may be subject to change based on project type. Custom rates will be made for specia situations and larger-scale projects.</p>
					</div>

					<div class="container body-sect" id="Desc-BodySect3">
						<p class="wsbf-font-1 bodyfont">Please send all recording requests and inquiries to <em>production@wsbf.net</em>.</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="RecordRate">
				<div class="container body-header" id="RecordRate-HeadSect">
					<p class="wsbf-font-1 secthead-font">Recording Rates</p>
				</div>

				<div class="container body-text" id="RecordRate-BodyText">

					<div class="container body-sect" id="RecordRate-Address">
						<p class="wsbf-font-1 bodyfont">$30/hr (&lt;5 hours)</p>
						<p class="wsbf-font-1 bodyfont">$120/half day (5 hours)</p>
						<p class="wsbf-font-1 bodyfont">$200/day (10+ hours)</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="MixRate">
				<div class="container body-header" id="MixRate-HeadSect">
					<p class="wsbf-font-1 secthead-font">Mix &amp; Master Rates</p>
				</div>

				<div class="container body-text" id="MixRate-BodyText">

					<div class="container body-sect" id="MixRate-names">
						<p class="wsbf-font-1 bodyfont">$30 for 1 song or work</p>
						<p class="wsbf-font-1 bodyfont">$80 for 5 songs or less</p>
						<p class="wsbf-font-1 bodyfont">$150 for 5 to 10 songs</p>
						<p class="wsbf-font-1 bodyfont">$200 for 10+ songs</p>
					</div>

				</div>
			</div>
		</div>

    </div>
</body>