@{
    ViewData["Title"] = "About Us";
    Layout = "_AboutLayout";
}

<head>
	<link rel="stylesheet" href="~/AboutStyle/AboutUs.css" />
</head>

<body>
	<div class="bigbox">

		<div class="container header-bar" id="AboutUs-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="AboutUs-HeadText">ABOUT US</p>
			</div>
		</div>

		<div class="container page-section" id="OurPhilosophy">

			<div class="container body-header" id="OurPhilosophy-Heading">
				<p class="wsbf-font-1 secthead-font" id="OurPhilosophy-HeadText">OUR PHILOSOPHY</p>
			</div>

			<div class="container body-text" id="OurPhilosophy-Body">

				<div class="container body-sect" id="OurPhilosophy-Sec1">
					<p class="wsbf-font-1 body-font" id="OurPhilosophy-Body1">
						WSBF has decades-long commitment to providing the best alternative programming in a world of commercially-dominated radio. Since the 1980s, we've endorsed and fostered alternative lifestyle and culture. From our eclectic music selections to our education ethos and public service announcements, we always strive to promote diversity, open-mindedness, and awareness. We offer our listeners exciting, alternative, and independent content you won't hear anywhere else.
					</p>
				</div>

				<div class="container body-sect" id="OurPhilosophy-Sec2">
					<p class="wsbf-font-1 body-font" id="OurPhilosophy-Body2">
						As a <em>100% student-run</em> radio station, we also offer invaluable hands-on experience in radio broadcasting and operations to our student staff. WSBF supports both our campus community and large community -- we thank you for your support in return!
					</p>
				</div>

			</div>

		</div>

		<div class="container page-section" id="OurHistory">

			<div class="container body-header" id="OurHistory-Heading">
				<p class="wsbf-font-1 secthead-font" id="OurHistory-HeadText">OUR HISTORY</p>
			</div>

			<div class="container body-text" id="OurHistory-Body">

				<div class="container body-sect" id="OurHistory-Sec1">
					<p class="wsbf-font-1 body-font" id="OurHistory-Body1">
						WSBF-FM began as a closed-circuit broadcasting facility on May 1, 1958 and made its first broadcast on April Fool’s Day of 1960. It quickly became known as <em>Wizz-Bif</em>. In the early days, WSBF broadcasted shows such as an agricultural show by Bob Mattison a.k.a. the “Voice of Clemson”, which was also broadcast on AM stations in Anderson, Spartanburg, and Columbia. Other shows included one broadcasted from Harcombe in the mornings, a 'Late, Late' show featuring old standards, and a 'Concert Hall' show featuring the classics. By 1965, WSBF had changed format to Include 'The Frank Howard Show', 'Pigskin Preview', 'Night Beat', and 'East of Midnight'. The purpose was to provide students with educational entertainment, news, and music.
					</p>
				</div>

				<div class="container body-sect" id="OurHistory-Sec2">
					<p class="wsbf-font-1 body-font" id="OurHistory-Body2">
						The next major format change occurred under Woody Culp, changing to that of 'progressive.' The strategy at that time was heavy airplay for the most contemporary new groups. Off-beat news stories and songs outside the top-40 were emphasized.
					</p>
				</div>

				<div class="container body-sect" id="OurHistory-Sec3">
					<p class="wsbf-font-1 body-font" id="OurHistory-Body3">
						The format evolved from 'progressive' to 'alternative', a shift taking place in the mid-1980s. The alternative format included many genres such as: progressive, classical, rap, jazz, punk, industrial, and indie. The 'alternative' name implies alternative in any genre, not just the worst-named genre of mainstream music: alternative rock.
					</p>
				</div>

				<div class="container body-sect" id="OurHistory-Sec4">
					<p class="wsbf-font-1 bodyfont" id="OurHistory-Body4">
						<em>We educate the listener by exposing them to new genres and the leading edge of more familiar genres, such as rock. We play what other stations cannot and do not.</em>
					</p>
				</div>

			</div>

		</div>

	</div>
</body>