@{
    ViewData["Title"] = "Contact Us";
    Layout = "_AboutLayout";
}

<head>
    <link rel="stylesheet" href="~/AboutStyle/Contact.css" />
</head>

<body>
	<div class="bigbox">

		<div class="container header-bar" id="ContactUs-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="ContactUs-HeadText">CONTACT US!</p>
			</div>
		</div>

		<div class="container bodyinfo" id="ContactUs-Body">
			<div class="container page-section" id="Location">
				<div class="container body-header" id="Location-HeadSect">
					<p class="wsbf-font-1 secthead-font">Location</p>
				</div>

				<div class="container body-text" id="Location-BodyText">

					<div class="container body-sect" id="Location-BodySect">
						<p class="wsbf-font-1 address-desc">Our station is in the Student Media Suite on the third floor of Hendrix Student Center.</p>
					</div>

					<div class="container body-sect" id="Location-Address">
						<p class="wsbf-font-1 address-item"><em>WSBF-FM Clemson</em></p>
						<p class="wsbf-font-1 address-item"><em>315 Hendrix Center</em></p>
						<p class="wsbf-font-1 address-item"><em>Clemson, SC 29634</em></p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="Phonelines">
				<div class="container body-header" id="Phonelines-HeadSect">
					<p class="wsbf-font-1 secthead-font">Phone Lines</p>
				</div>

				<div class="container body-text" id="Phonelines-BodyText">

					<div class="container vertsect" id="Phonelines-names">
						<p class="wsbf-font-1 phone-item">On-Air DJ</p>
						<p class="wsbf-font-1 phone-item">General Manager</p>
						<p class="wsbf-font-1 phone-item">Music Director</p>
					</div>

					<div class="container vertsect" id="Phonelines-numbers">
						<p class="wsbf-font-1 phone-item"><em>(864)656-9723</em></p>
						<p class="wsbf-font-1 phone-item"><em>(864)656-4009</em></p>
						<p class="wsbf-font-1 phone-item"><em>(864)656-4011</em></p>
					</div>

				</div>
			</div>
		</div>

		<div class="container footerinfo" id="ContactUs-Footer">
			<div class="container footer-text" id="footer-text">
				<div class="container footer-sect" id="footer-1">
					<p class="wsbf-font-1 smallfont">
						For DJ rental requests, contact the Production Director at <em>production@wsbf.net</em>.
					</p>
				</div>

				<div class="container footer-sect" id="footer-2">
					<p class="wsbf-font-1 smallfont">
						Note: DJs reserve the right to choose the music they play.
					</p>
				</div>

				<div class="container footer-sect" id="footer-3">
					<p class="wsbf-font-1 smallfont">
						For music inquiries, contact the Music Director at <em>music@wsbf.net</em>.
					</p>
				</div>

				<div class="container footer-sect" id="footer-4">
					<p class="wsbf-font-1 smallfont">
						For questions related to the website (bug report, feature request, etc.), contact the Computer Engineer at <em>computer@wsbf.net</em>.
					</p>
				</div>

				<div class="container footer-sect" id="footer-5">
					<p class="wsbf-font-1 smallfont">
						For general inquiries, contact the General Manager at <em>gm@wsbf.net</em>.
					</p>
				</div>
			</div>
		</div>
	</div>

</body>