@{
    ViewData["Title"] = "About Us";
    Layout = "_AboutLayout";
}

<head>
    <link rel="stylesheet" href="~/AboutStyle/Join.css" />
</head>

<body>
	<div class="bigbox">

		<div class="container header-bar" id="Join-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="Join-HeadText">JOIN US!</p>
			</div>
		</div>

		<div class="container page-section" id="Eligibility">
			<div class="container body-header" id="Eligibility-Heading">
				<p class="wsbf-font-1 secthead-font" id="Eligibility-HeadText">Eligibility</p>
			</div>

			<div class="container body-text" id="Eligibility-Body">
				<div class="container body-sect" id="Eligibility-Sec1">
					<p class="wsbf-font-1 body-font" id="Eligibility-Body1">
						WSBF has an open-door policy for any Clemson University student with a <em>2.2 GPA</em> or better. University employees and members of the community may also become members of the WSBF staff. First semester freshman and transfer students can also join, but will have to meet eligibility requirements after the first grading period.
					</p>
				</div>
			</div>
		</div>

		<div class="container page-section" id="Training">
			<div class="container body-header" id="Training-Heading">
				<p class="wsbf-font-1 secthead-font" id="Training-HeadText">Training</p>
			</div>

			<div class="container body-text" id="Training-Body">
				<div class="container body-sect" id="Training-Sec1">
					<p class="wsbf-font-1 body-font" id="Training-Body1">
						At the beginning of every semester, WSBF holds an intern drop-in for the people interested in becoming involved with the station. This drop-in is held on <em>Tuesday at 8PM</em> on the third full week of classes. After this, all attendees are invited back to being training to become a WSBF DJ. There is a one-time dues fee of $20 upon completion of training.
					</p>
				</div>
			</div>
		</div>

		<div class="container page-section" id="WrittenTest">
			<div class="container body-header" id="WrittenTest-Heading">
				<p class="wsbf-font-1 secthead-font" id="WrittenTest-HeadText">Written Test</p>
			</div>

			<div class="container body-text" id="WrittenTest-Body">
				<div class="container body-sect" id="WrittenTest-Sec1">
					<p class="wsbf-font-1 body-font" id="WrittenTest-Body1">
						Prospective DJs should download the WSBF Handbook <a href="https://wsbf.net/files/WSBF_Handbook.pdf">here</a>. At 8PM on the Wednesday and Thursday following the intern drop-in, the Chief Announcer will go over the handbook with them and point out information, rules, and procedures. After thsi they must take a writtten test on this information, scoring at least 85%. Those that don't may take the test again at a later date, those that do may begin their internship at WSBF.
					</p>
				</div>
			</div>
		</div>

		<div class="container page-section" id="Internship">
			<div class="container body-header" id="Internship-Heading">
				<p class="wsbf-font-1 secthead-font" id="Internship-HeadText">Training</p>
			</div>

			<div class="container body-text" id="Internship-Body">
				<div class="container body-sect" id="Internship-Sec1">
					<p class="wsbf-font-1 body-font" id="Internship-Body1">
						Interns will be provided a schedule of shows available for interns, which they can sign-up to intern at a first-come, first-serve basis.
					</p>
				</div>

				<div class="container body-sect" id="Internship-Sec2">
					<p class="wsbf-font-1 body-font" id="Internship-Body2">
						Interning will begin the Monday after the intern drop-in. Each intern will be assigned <em>three</em> DJs, getting at least three hours of sit-in time and three hours of board-time. The intern may get, at most, an 1.5 hours <em>each</em> of sit-in and board time with a single DJ. Interns may train with DJs they were not scheduled for, so long as that DJ does not have more than two interns at the time.
					</p>
				</div>

				<div class="container body-sect" id="Internship-Sec3">
					<p class="wsbf-font-1 body-font" id="Internship-Body3">
						Interns must have the DJ fill out their intern training form and sign-off on all training hours completed. They must also complete the training checklist. All training must be completed by the sixth Sunday after interning begins (unless an acceptable excuse is given). In addition, an intern must complete two <em>CD reviews</em> before they take their on-air test.
					</p>
				</div>
			</div>
		</div>

		<div class="container page-section" id="AirTest">
			<div class="container body-header" id="AirTest-Heading">
				<p class="wsbf-font-1 secthead-font" id="AirTest-HeadText">On-Air Test</p>
			</div>

			<div class="container body-text" id="AirTest-Body">
				<div class="container body-sect" id="AirTest-Sec1">
					<p class="wsbf-font-1 body-font" id="AirTest-Body1">
						Once all the previous procedures have been completed, an intern may take their on-air test with a member of Senior Staff. It covers WSBF rules, FCC regulations, and proper operation of the control-room equipment. Once the test is complete, dues are paid, and applicable forms are filled, the new DJ may pick a showtime, which they are responsible for <em>one week</em> after completion.
					</p>
				</div>

				<div class="container body-sect" id="AirTest-Sec2">
					<p class="wsbf-font-1 body-font" id="AirTest-Body2">
						This test should be taken within <em>two semesters</em> of taking their written test. For each semester after two, an additional two intern sessions must be completed before another test can be taken. This test may not be taken with a member of Senior Staff whith whom they interned. After the test's completion, but before assignment of a show-time, the intern must pay the one-time $20 dues fee and fill out all applicable forms.
					</p>
				</div>
			</div>
		</div>

	</div>
</body>