@{
    ViewData["Title"] = "Promotion";
    Layout = "_AboutLayout";
}

<head>
	<link rel="stylesheet" href="~/AboutStyle/Promotion.css" />
</head>

<body>
	<div class="bigbox">

		<div class="container header-bar" id="AboutUs-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="Promotion-HeadText">PROMOTION</p>
			</div>
		</div>

		<div class="container page-section" id="PSA">
			<div class="container body-header" id="PSA-Heading">
				<p class="wsbf-font-1 secthead-font" id="PSA-HeadText">Public Service Announcements</p>
			</div>

			<div class="container body-text" id="PSA-Body">

				<div class="container body-sect" id="PSA-Sec1">
					<p class="wsbf-font-1 body-font" id="PSA-Body1">
						Public Service Announcements are aired twice per hour as part of WSBF's service to Clemson University and the surrounding area. These announcements range from information about events and clubs on campus to national health awareness, environmental conservation, and other relevant isuses to the Clemson University student body.
					</p>
				</div>

				<div class="container body-sect" id="PSA-Sec2">
					<p class="wsbf-font-1 body-font" id="PSA-Body2">
						If you would like to submit a PSA, it should be emailed to the Music Director at <em>music@wsbf.net</em>.
					</p>
				</div>

				<div class="container body-sect" id="PSA-Sec3">
					<p class="wsbf-font-1 body-font" id="PSA-Body3">
						If you are submitting a PSA for a specific event, you should submit your PSA three to four weeks prior to the event. This gives us enough time to enter the PSA into our system and get it ample airplay. If you email us the day or weeok before the event, there may not be enough to coordinate deploying the PSA and ensure that it gets played on air.
					</p>
				</div>

				<div class="container body-sect" id="PSA-Sec4">
					<p class="wsbf-font-1 body-font" id="PSA-Body4">
						We unfortunately cannot specify a time that you will be able to hear your PSA. It is up to the discretion of the DJs as to when to play PSAs, and which to play. If you're interested in having your message broadcast on a regular shedule, please consider underwriting.
					</p>
				</div>

				<div class="container body-sect" id="PSA-Sec5">
					<p class="wsbf-font-1 body-font" id="PSA-Body5">
						Submitting a PSA costs nothing. However, if your PSA is promotional in nature, you may wish to consider purchasing an underwriting.
					</p>
				</div>

			</div>
		</div>

		<div class="container page-section" id="Underwriting">
			<div class="container body-header" id="Underwriting-Heading">
				<p class="wsbf-font-1 secthead-font" id="Underwriting-HeadText">Underwriting</p>
			</div>

			<div class="container body-text" id="Underwriting-Body">

				<div class="container body-sect" id="Underwriting-Sec1">
					<p class="wsbf-font-1 body-font" id="Underwriting-Body1">
						Underwriting is an FCC-approved form of sponsorship for broadcasting. It is undertaken by non-commercial, educational FM radio stations like us. This sponsorship allows an underwriter to contribute resources to be utilized by the station for support of broadcast activities. In return, the radio station is able to provide name recognition and acknowledgement of the underwriter's contributions and sponsorship.
					</p>
				</div>

				<div class="container body-sect" id="Underwriting-Sec2">
					<p class="wsbf-font-1 body-font" id="Underwriting-Body2">
						The following rates apply to an underwriting that is 30 seconds in length, which can include the name of the underwriter, a non-qualitative description of the service or products they provide, their location, website, contact information, and a company slogan. To include a slogan, it must be one that has consistently been used in identifying the company, and it cannot contain qualitative language (e.g. "Always low prices") or a call to action (e.g. "Come fly with us").
					</p>
				</div>

				<div class="container body-sect" id="Underwriting-Sec3">
					<p class="wsbf-font-1 body-font" id="Underwriting-Body3">
						For specialty rates (e.g. one month of only prime-time), contact the General Manager at <em>gm@wsbf.net</em> or <em>(864)656-4009</em> with specific duration and play period.
					</p>
				</div>

			</div>

			<div class="container page-section" id="Year">
				<div class="container body-header" id="Year-Heading">
					<p class="wsbf-font-1 secthead-font" id="Year-HeadText">Year</p>
				</div>

				<div class="container body-text" id="Year-Body">

					<div class="container body-sect" id="Year-Sec1">
						<p class="wsbf-font-1 body-font" id="Year-Body1">
							<em>(e.g. Aug 19 2020 -- Aug 19 2021)</em>
						</p>
					</div>

					<div class="container body-sect" id="Year-Sec2">
						<p class="wsbf-font-1 price-font" id="Year-Body2">
							$2600 for once per show
						</p>
						<p class="wsbf-font-1 price-font" id="Year-Body3">
							$4600 for twice per show
						</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="ScYear">
				<div class="container body-header" id="ScYear-Heading">
					<p class="wsbf-font-1 secthead-font" id="ScYear-HeadText">School Year</p>
				</div>

				<div class="container body-text" id="ScYear-Body">

					<div class="container body-sect" id="ScYear-Sec1">
						<p class="wsbf-font-1 body-font" id="ScYear-Body1">
							<em>(e.g. Aug 19 2020 -- Apr 30 2021)</em>
						</p>
					</div>

					<div class="container body-sect" id="ScYear-Sec2">
						<p class="wsbf-font-1 price-font" id="ScYear-Body2">
							$2300 for once per show
						</p>
						<p class="wsbf-font-1 price-font" id="ScYear-Body3">
							$4200 for twice per show
						</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="Semester">
				<div class="container body-header" id="Semester-Heading">
					<p class="wsbf-font-1 secthead-font" id="Semester-HeadText">Semester</p>
				</div>

				<div class="container body-text" id="Semester-Body">

					<div class="container body-sect" id="Semester-Sec1">
						<p class="wsbf-font-1 body-font" id="Semester-Body1">
							<em>(e.g. Aug 19 2020 -- Dec 11 2020)</em>
						</p>
					</div>

					<div class="container body-sect" id="Semester-Sec2">
						<p class="wsbf-font-1 price-font" id="Semester-Body2">
							$1300 for once per show
						</p>
						<p class="wsbf-font-1 price-font" id="Semester-Body3">
							$2400 for twice per show
						</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="Month">
				<div class="container body-header" id="Month-Heading">
					<p class="wsbf-font-1 secthead-font" id="Month-HeadText">Month</p>
				</div>

				<div class="container body-text" id="Month-Body">

					<div class="container body-sect" id="Month-Sec1">
						<p class="wsbf-font-1 body-font" id="Month-Body1">
							<em>(e.g. Aug 1 -- Aug 31 2021)</em>
						</p>
					</div>

					<div class="container body-sect" id="Month-Sec2">
						<p class="wsbf-font-1 price-font" id="Month-Body2">
							$350 for once per show
						</p>
						<p class="wsbf-font-1 price-font" id="Month-Body3">
							$375 for twice per show
						</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="Weeks">
				<div class="container body-header" id="Weeks-Heading">
					<p class="wsbf-font-1 secthead-font" id="Weeks-HeadText">Two Weeks</p>
				</div>

				<div class="container body-text" id="Weeks-Body">

					<div class="container body-sect" id="Weeks-Sec1">
						<p class="wsbf-font-1 body-font" id="Weeks-Body1">
							<em>(e.g. Aug 25 -- Sep 7)</em>
						</p>
					</div>

					<div class="container body-sect" id="Weeks-Sec2">
						<p class="wsbf-font-1 price-font" id="Weeks-Body2">
							$200 for once per show
						</p>
						<p class="wsbf-font-1 price-font" id="Weeks-Body3">
							$375 for twice per show
						</p>
					</div>

				</div>
			</div>

			<div class="container page-section" id="Show">
				<div class="container body-header" id="Show-Heading">
					<p class="wsbf-font-1 secthead-font" id="Show-HeadText">Show</p>
				</div>

				<div class="container body-text" id="Primetime-Body">
					<div class="container body-sect" id="Primetime-Sec1">
						<p class="wsbf-font-1 body-font" id="Primetime-Body1">
							<em>Prime Time (M-F 5-7p, 7-9p, or 9-11p)</em>
						</p>
					</div>

					<div class="container body-sect" id="Primetime-Sec2">
						<p class="wsbf-font-1 price-font" id="Primetime-Body2">
							$10 for once per two-hour show
						</p>
						<p class="wsbf-font-1 price-font" id="Primetime-Body3">
							$18 for twice per two-hour show
						</p>
					</div>
				</div>

				<div class="container body-text" id="Morning-Body">
					<div class="container body-sect" id="Morning-Sec1">
						<p class="wsbf-font-1 body-font" id="Morning-Body1">
							<em>Morning Drive (M-F 7-9a or 9-11a)</em>
						</p>
					</div>

					<div class="container body-sect" id="Morning-Sec2">
						<p class="wsbf-font-1 price-font" id="Morning-Body2">
							$8 for once per two-hour show
						</p>
						<p class="wsbf-font-1 price-font" id="Morning-Body3">
							$15 for twice per two-hour show
						</p>
					</div>
				</div>

				<div class="container body-text" id="Other-Body">
					<div class="container body-sect" id="Other-Sec1">
						<p class="wsbf-font-1 body-font" id="Other-Body1">
							<em>Other Shows</em>
						</p>
					</div>

					<div class="container body-sect" id="Other-Sec2">
						<p class="wsbf-font-1 price-font" id="Other-Body2">
							$5 for once per two-hour show
						</p>
						<p class="wsbf-font-1 price-font" id="Other-Body3">
							$10 for twice per two-hour show
						</p>
					</div>
				</div>
			</div>

		</div>

	</div>
</body>