@{
    ViewData["Title"] = "Booking";
    Layout = "_EventsLayout";
}

<head>
    <link rel="stylesheet" href="~/EventStyle/Booking.css" />
</head>

<body>
    <div class="bigbox" id="bigbigbox">

		<div class="container header-bar" id="Booking-Header">
			<div class="container center-text">
				<p class="wsbf-font-1 pagehead-font" id="Promotion-HeadText">BOOKING</p>
			</div>
		</div>

		<div class="container page-section" id="Booking">
			<div class="container body-text" id="Booking-Body">

				<div class="container body-sect" id="Booking-Sec1">
					<p class="wsbf-font-1 body-font" id="Booking-Body1">
						If you are looking to play in a WSBF event, email <em>events@wsbf.net</em>. In your email, please include the following:
					</p>

					<div class="container body-text" id="Booking-subsec">
						<p class="wsbf-font-1 item-font" id="Booking-SubBody1">
							Group Act/Name
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody2">
							Genre
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody3">
							Hometown
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody4">
							Website
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody5">
							Website
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody6">
							Link to a live performance video
						</p>
						<p class="wsbf-font-1 item-font" id="Booking-SubBody7">
							Any other relevant information
						</p>
					</div>

					<p class="wsbf-font-1 body-font" id="Booking-Body2">
						You should recieve a follow-up email letting you know that your information has been recieved and you have been added to our database.
					</p>

					<p class="wsbf-font-1 body-font" id="Booking-Body3">
						<em>Note: Since WSBF is a part of Clemson University, booking a show is an intensive process. If a show is already announced, there will be no additions unless you are playing for free.</em>
					</p>

					<p class="wsbf-font-1 body-font" id="Booking-Body4">
						If you are looking to book WSBF for your own event, check out our 'Contact Us' page.
					</p>
				</div>

			</div>
		</div>

    </div>
</body>